body, div, h1, h2, h3, h4, h5, span, a, button, input{
    font-family: 'Poppins';
}

body  {
    background: rgb(251,19,211);
    background: linear-gradient(90deg, rgba(251,19,211,0.17690826330532217) 0%, rgba(0,99,255,0.5298494397759104) 100%);
}

.main-login{
    width: 100vw;
    display:flex;
    flex-direction: row;
    overflow:hidden;
    padding-left: 28vw;
}

.content-section{
    background-color:#ffe866;
    width:62vw;
    position: fixed;
    right: 0px;
    top:0px;
}

.login-header{
    margin-bottom:20px;
}

.login-section{
    display:flex;
    flex-direction: column;
    width:30vw;
    padding:60px;
    padding-top:50px;
    padding-bottom:0px;
}

.input-label{
    font-weight: 500;
}

.label-group{
    margin-top:14px;
    margin-bottom:14px;
}

.input{
    padding:10px;
    border-width: 0px;
    width: 100%;
    font-weight: 700;
    color:gray;
}

.label-group:focus-within .input-label{
    font-weight: 700;
}
.input-group{
    border-radius: 2px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color:gray;
    border-style:solid;
    padding:10px;
    padding-left:0px;
    padding-right:0px;
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.15s;
}

.input-group:focus-within{
    border-color: #ffe001;
    border-bottom-width: 3px;
}

.input-icon{
    height:17px;
}

.main-button{
    margin-top:40px;
    width:80%;
    background-color: #0199ff;
    padding:15px;
    font-weight: 700;
    font-size: 14px;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover{
    background-color: rgb(0, 110, 255);
}

.hand{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new{
    color:gray;
    font-size: 12px;
    margin-top:25px;
    cursor: pointer;
}

.auth-section{
    display:flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
    padding-left: 35px;
    border-style: solid;
    border-color: #ffe6015e;
    background-color: white;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.error-message{
    color:red;
    font-weight: 600;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message{
    color:green;
    font-weight: 600;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage{
    width:50vw;
    padding:80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 700;
}

.homepage-subtitle{
    font-size: 36px;
}

.logout-button{
    font-size: 30px;
}

.homepage a{
    text-decoration: none;
}

span {
    color: #ff7301;
}

.span1 {
    color: #a10000;
    display: inline-block;
}