{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Hi {{user}} !</title>
</head>
<body>
    <div class="homepage">
        Hi <div class="span1">{{user}}</div> !<br>
        <div class="homepage-subtitle">
            Selamat datang di Website story 10 ku !
        </div>
        <img src="{% static 'Welcome.gif' %}" class="welcome">
        <br>
        <span>Logout </span>tekan di bawah 
        <a href="/logout"><button class="main-button logout-button">Logout </button></a>
    </div>
</body>
</html>